<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Animales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Animales</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Animales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <table class="animal-table">
        <thead>
          <tr>
            <th>Raza</th>
            <th>Nombre</th>
            <th>Alimentación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let animal of animals">
            <td>{{ animal.raza }}</td>
            <td>{{ animal.nombre }}</td>
            <td>{{ animal.alimentacion }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>

</ion-content>
